Repository neerajgiri492/kreuzberg: changes, and which pre-commit hooks are due for each by the changed paths.
All: toml-format, python-lint-check, python-format, rust-format-check, rust-lint-check, rust-licenses, node-format-check, node-lint-check, ruby-format-check, ruby-lint-check, go-format-check, go-lint-check, java-format-check, java-lint-check, csharp-format-check, csharp-lint-check, php-format-check, php-lint-check, shell-lint-check, github-actions-lint

Path conditions:
  toml-format: any of: \.toml$, but not: ^docs/snippets/|vendor/|node_modules/|target/|v3/|invalid*
  python-lint-check: any of: \.py$, but not: ^docs/snippets/|vendor/|node_modules/|target/|v3/|invalid*
  python-format: any of: \.py$, but not: ^docs/snippets/|vendor/|node_modules/|target/|v3/|invalid*
  rust-format-check: any of: ^(crates|tools|e2e/rust)/.*\.rs$|^(Cargo\.toml|Cargo\.lock|crates/.*/Cargo\.toml|tools/.*/Cargo\.toml|e2e/rust/Cargo\.toml|packages/ruby/ext/kreuzberg_rb/native/Cargo\.toml)$, but not: ^docs/snippets/|vendor/|node_modules/|target/|v3/|invalid*
  rust-lint-check: any of: ^(crates|tools|e2e/rust)/.*\.rs$|^(Cargo\.toml|Cargo\.lock|crates/.*/Cargo\.toml|tools/.*/Cargo\.toml|e2e/rust/Cargo\.toml|packages/ruby/ext/kreuzberg_rb/native/Cargo\.toml)$, but not: ^docs/snippets/|vendor/|node_modules/|target/|v3/|invalid*
  rust-licenses: any of: ^(Cargo\.toml|Cargo\.lock|crates/.*/Cargo\.toml|tools/.*/Cargo\.toml|e2e/rust/Cargo\.toml|packages/ruby/ext/kreuzberg_rb/native/Cargo\.toml|deny\.toml)$, but not: ^docs/snippets/|vendor/|node_modules/|target/|v3/|invalid*
  node-format-check: any of: ^crates/kreuzberg-node/, but not: ^docs/snippets/|vendor/|node_modules/|target/|v3/|invalid*
  node-lint-check: any of: ^crates/kreuzberg-node/, but not: ^docs/snippets/|vendor/|node_modules/|target/|v3/|invalid*
  ruby-format-check: any of: ^packages/ruby/.*\.rb$, but not: ^docs/snippets/|vendor/|node_modules/|target/|v3/|invalid*
  ruby-lint-check: any of: ^packages/ruby/(lib|sig)/.*\.(rb|rbs)$, but not: ^docs/snippets/|vendor/|node_modules/|target/|v3/|invalid*
  go-format-check: any of: ^packages/go/v4/.*\.go$, but not: ^docs/snippets/|vendor/|node_modules/|target/|v3/|invalid*
  go-lint-check: any of: ^packages/go/v4/, but not: ^docs/snippets/|vendor/|node_modules/|target/|v3/|invalid*
  java-format-check: any of: ^packages/java/src/.*\.java$, but not: ^docs/snippets/|vendor/|node_modules/|target/|v3/|invalid*
  java-lint-check: any of: ^packages/java/src/.*\.java$, but not: ^docs/snippets/|vendor/|node_modules/|target/|v3/|invalid*
  csharp-format-check: any of: ^packages/csharp/, but not: ^docs/snippets/|vendor/|node_modules/|target/|v3/|invalid*
  csharp-lint-check: any of: ^packages/csharp/, but not: ^docs/snippets/|vendor/|node_modules/|target/|v3/|invalid*
  php-format-check: any of: ^packages/php/.*\.php$, but not: ^docs/snippets/|vendor/|node_modules/|target/|v3/|invalid*
  php-lint-check: any of: ^packages/php/.*\.php$, but not: ^docs/snippets/|vendor/|node_modules/|target/|v3/|invalid*
  shell-lint-check: any of: \.sh$, but not: ^docs/snippets/|vendor/|node_modules/|target/|v3/|invalid*
  github-actions-lint: any of: ^\.github/workflows/.*\.ya?ml$, but not: ^docs/snippets/|vendor/|node_modules/|target/|v3/|invalid*

docs: enhance README with architecture diagram and improved badge layout
  README.md
Due: none

docs: reorganize installation section and add missing PHP and Elixir links
  README.md
Due: none

fix: remove redundant changes jobs and fix publish workflow issues
  .github/workflows/ci-csharp.yaml
  .github/workflows/ci-elixir.yaml
  .github/workflows/ci-go.yaml
  .github/workflows/ci-java.yaml
  .github/workflows/ci-node.yaml
  .github/workflows/ci-php.yaml
  .github/workflows/ci-python.yaml
  .github/workflows/ci-ruby.yaml
  .github/workflows/ci-rust.yaml
  .github/workflows/publish.yaml
Due: github-actions-lint

refactor: convert Elixir API to idiomatic structs instead of raw maps
  packages/elixir/lib/kreuzberg/chunk.ex
  packages/elixir/lib/kreuzberg/image.ex
  packages/elixir/lib/kreuzberg/metadata.ex
  packages/elixir/lib/kreuzberg/page.ex
  packages/elixir/lib/kreuzberg/result.ex
  packages/elixir/lib/kreuzberg/table.ex
  packages/elixir/test/unit/struct_refactoring_test.exs
Due: none

fix(ai-rulez): fix skills yaml block scalars
  .ai-rulez/domains/document-extraction/skills.yaml
  .ai-rulez/domains/ocr-integration/skills.yaml
  .ai-rulez/domains/plugin-system/skills.yaml
Due: none

fix(ci): use dotnet 10 in workflows
  .github/workflows/benchmarks.yaml
  .github/workflows/ci-csharp.yaml
  .github/workflows/ci-validate.yaml
  .github/workflows/profiling.yaml
  .github/workflows/publish.yaml
Due: github-actions-lint

fix(ci): honor CARGO_TARGET_DIR in ruby ffi cache
  .github/actions/build-and-cache-ffi/action.yml
  .github/workflows/ci-ruby.yaml
Due: github-actions-lint

fix(rust): avoid unused pdfium dir
  crates/kreuzberg/src/pdf/bindings.rs
Due: rust-format-check, rust-lint-check

fix: synchronize ConditionalWeakTable access in C# client
  packages/csharp/Kreuzberg/KreuzbergClient.cs
Due: csharp-format-check, csharp-lint-check

feat(benchmarks): add PHP and Elixir benchmark support
  .github/workflows/benchmarks.yaml
  .task/languages/elixir.yml
  scripts/benchmarks/build-elixir-bindings.sh
  tools/benchmark-harness/scripts/kreuzberg_extract.exs
  tools/benchmark-harness/src/adapters/kreuzberg.rs
  tools/benchmark-harness/src/adapters/mod.rs
  tools/benchmark-harness/src/main.rs
Due: rust-format-check, rust-lint-check, shell-lint-check, github-actions-lint

fix: correct REPO_ROOT path resolution in C# test script
  scripts/csharp/test.sh
Due: shell-lint-check

chore: cleanup
  RUBY_WINDOWS_CI_ANALYSIS.md
Due: none

fix(node): add ORT_DYLIB_PATH for ONNX Runtime loading in tests
  crates/kreuzberg-node/package.json
Due: node-format-check, node-lint-check

fix(wasm): correct import paths in keywords.spec.ts
  crates/kreuzberg-wasm/typescript/keywords.spec.ts
  crates/kreuzberg-wasm/typescript/kreuzberg_wasm.js
  crates/kreuzberg-wasm/typescript/pkg
Due: none

fix(csharp): Fix 6 remaining failing C# tests
  crates/kreuzberg-ffi/src/batch_streaming.rs
  packages/csharp/Kreuzberg.Tests/AdvancedTableAndImageTests.cs
  packages/csharp/Kreuzberg.Tests/BatchOperationsTests.cs
  packages/csharp/Kreuzberg.Tests/KeywordExtractionTests.cs
Due: rust-format-check, rust-lint-check, csharp-format-check, csharp-lint-check

fix(csharp): Fix failing C# tests
  packages/csharp/Kreuzberg.Tests/ExtractionTests.cs
  packages/csharp/Kreuzberg.Tests/MetadataTypesTests.cs
  packages/csharp/Kreuzberg.Tests/NativeTestHelper.cs
Due: csharp-format-check, csharp-lint-check

fix(php): Fix PHP e2e test generator issues
  e2e/php/tests/Helpers.php
  e2e/php/tests/PluginApisTest.php
  e2e/php/tests/SmokeTest.php
  tools/e2e-generator/src/php.rs
Due: rust-format-check, rust-lint-check

fix(rust): Fix C++ stdlib linking order for aarch64 Linux
  crates/kreuzberg-tesseract/build.rs
Due: rust-format-check, rust-lint-check

fix(go): Add verbose output and debugging tools for Go tests in CI
  .task/languages/go.yml
  scripts/go/test-debug.sh
  scripts/go/test.sh
Due: shell-lint-check

fix(csharp): Fix Windows test host crash on shutdown
  packages/csharp/Kreuzberg.Tests/XunitAssemblyInfo.cs
  packages/csharp/Kreuzberg/GCHandlePool.cs
  packages/csharp/Kreuzberg/InteropUtilities.cs
  packages/csharp/Kreuzberg/KreuzbergClient.cs
Due: csharp-format-check, csharp-lint-check

chore: ci fixes
  .github/actions/build-and-cache-ffi/action.yml
  .github/workflows/ci-validate.yaml
  crates/kreuzberg-php/src/config.rs
  crates/kreuzberg-php/src/embeddings.rs
  crates/kreuzberg-php/src/error.rs
  crates/kreuzberg-php/src/extraction.rs
  crates/kreuzberg-php/src/lib.rs
  crates/kreuzberg-php/src/plugins.rs
  crates/kreuzberg-php/src/types.rs
  crates/kreuzberg-php/src/validation.rs
  crates/kreuzberg-wasm/package.json
  crates/kreuzberg-wasm/tsup.config.ts
  e2e/php/tests/Helpers.php
  packages/elixir/test/unit/batch_api_test.exs
  packages/elixir/test/unit/config/extraction_config_test.exs
  packages/elixir/test/unit/extraction_config_test.exs
  packages/elixir/test/unit/struct_refactoring_test.exs
  packages/java/src/main/java/dev/kreuzberg/Kreuzberg.java.bak
  packages/php/src/functions.php
  scripts/go/test-debug.sh
  scripts/go/test.sh
  tools/e2e-generator/e2e/go/go.mod
  tools/e2e-generator/e2e/go/helpers_test.go
  tools/e2e-generator/e2e/java/pom.xml
  tools/e2e-generator/e2e/java/src/test/java/com/kreuzberg/e2e/E2EHelpers.java
  tools/e2e-generator/e2e/java/src/test/java/com/kreuzberg/e2e/package-info.java
Due: rust-format-check, rust-lint-check, php-format-check, php-lint-check, shell-lint-check, github-actions-lint

chore: ci fixes
  packages/php/src/functions.php
  packages/php/stubs/kreuzberg_extension.php
Due: php-format-check, php-lint-check

fix(ci): Remove CARGO_TARGET_DIR env var causing Windows path issues
  .github/workflows/ci-elixir.yaml
  .github/workflows/ci-php.yaml
  .github/workflows/ci-ruby.yaml
Due: github-actions-lint

fix: memory leak in batch result deallocation causing Go ARM64 segfault
  crates/kreuzberg-ffi/src/lib.rs
Due: rust-format-check, rust-lint-check

fix(ruby): refactor vendoring script and downgrade reqwest to 0.12.28
  Cargo.lock
  Cargo.toml
  crates/kreuzberg/Cargo.toml
  packages/ruby/ext/kreuzberg_rb/native/Cargo.lock
  scripts/ci/ruby/vendor-kreuzberg-core.sh
Due: toml-format, rust-format-check, rust-lint-check, rust-licenses, shell-lint-check

fix(node): increase npm indexing wait timeout for linux-arm64 package
  .github/workflows/publish.yaml
Due: github-actions-lint

fix(homebrew): prevent duplicate bottle blocks in formula updates
  scripts/publish/homebrew/update-formula-with-bottles.sh
Due: shell-lint-check

fix(ci): setup ONNX Runtime and build CLI before Python tests
  .github/workflows/ci-python.yaml
Due: github-actions-lint

fix(ci): add macOS PHP linker flags to test-php job
  .github/workflows/ci-php.yaml
Due: github-actions-lint

perf(benchmarks): optimize third-party framework jobs
  .github/workflows/benchmarks.yaml
Due: github-actions-lint

feat: Add tool annotations for improved LLM tool understanding
  crates/kreuzberg/src/mcp/server.rs
Due: rust-format-check, rust-lint-check

fix: remove kreuzberg_rustler from Dockerfile sed command to prevent missing workspace member error
  docker/Dockerfile.full
Due: none

fix: add force_republish support to all build jobs and sync Elixir version
  .github/workflows/publish.yaml
  packages/elixir/mix.exs
  packages/ruby/ext/kreuzberg_rb/native/Cargo.lock
  scripts/sync_versions.py
Due: python-lint-check, python-format, github-actions-lint

fix: implement complete force_republish support in release metadata scripts
  scripts/publish/prepare-release-metadata.sh
  scripts/publish/validate-and-compute-release-metadata.sh
Due: shell-lint-check

ci: add aarch64 Linux to PHP and standardize path triggers across all CI workflows
  .github/workflows/ci-csharp.yaml
  .github/workflows/ci-elixir.yaml
  .github/workflows/ci-go.yaml
  .github/workflows/ci-java.yaml
  .github/workflows/ci-node.yaml
  .github/workflows/ci-php.yaml
  .github/workflows/ci-python.yaml
  .github/workflows/ci-ruby.yaml
  .github/workflows/ci-rust.yaml
  .github/workflows/ci-wasm.yaml
Due: github-actions-lint

fix(ci): add partial cache detection to Elixir and PHP workflows
  .github/workflows/ci-elixir.yaml
  .github/workflows/ci-php.yaml
Due: github-actions-lint

chore(ci): update download-artifact action from v6 to v7
  .github/workflows/publish.yaml
Due: github-actions-lint
