Repository neerajgiri492/kreuzberg: changes, and which pre-commit hooks are due for each by the changed paths.
All: toml-format, python-lint-check, python-format, rust-format-check, rust-lint-check, rust-licenses, node-format-check, node-lint-check, ruby-format-check, ruby-lint-check, go-format-check, go-lint-check, java-format-check, java-lint-check, csharp-format-check, csharp-lint-check, php-format-check, php-lint-check, shell-lint-check, github-actions-lint

toml-format:
  name: Format TOML files
  entry: task toml:format
  language: system
  pass_filenames: false
  require_serial: true

python-lint-check:
  name: Check Python linting (ruff + mypy)
  entry: task python:lint:check
  language: system
  pass_filenames: false
  require_serial: true
  stages:
  - commit

python-format:
  name: Format Python code
  entry: task python:format
  language: system
  pass_filenames: false
  require_serial: true
  stages:
  - commit

rust-format-check:
  name: Check Rust formatting
  entry: task rust:format:check
  language: system
  pass_filenames: false
  require_serial: true
  stages:
  - commit

rust-lint-check:
  name: Check Rust linting (clippy)
  entry: task rust:lint:check
  language: system
  pass_filenames: false
  require_serial: true
  stages:
  - commit

rust-licenses:
  name: Check Rust dependency licenses
  entry: task rust:licenses
  language: system
  pass_filenames: false
  require_serial: true
  stages:
  - commit

node-format-check:
  name: Check TypeScript formatting (biome)
  entry: task node:format:check
  language: system
  pass_filenames: false
  require_serial: true
  stages:
  - commit

node-lint-check:
  name: Check Node/TypeScript linting
  entry: task node:lint:check
  language: system
  pass_filenames: false
  require_serial: true
  stages:
  - commit

ruby-format-check:
  name: Check Ruby formatting (rubocop)
  entry: task ruby:format:check
  language: system
  pass_filenames: false
  require_serial: true
  stages:
  - commit

ruby-lint-check:
  name: Check Ruby linting (rubocop + steep)
  entry: task ruby:lint:check
  language: system
  pass_filenames: false
  require_serial: true
  stages:
  - commit

go-format-check:
  name: Check Go formatting
  entry: task go:format:check
  language: system
  pass_filenames: false
  require_serial: true
  stages:
  - commit

go-lint-check:
  name: Check Go linting (golangci-lint)
  entry: task go:lint:check
  language: system
  pass_filenames: false
  require_serial: true
  stages:
  - commit

java-format-check:
  name: Check Java formatting (spotless)
  entry: task java:format:check
  language: system
  pass_filenames: false
  require_serial: true
  stages:
  - commit

java-lint-check:
  name: Check Java linting (checkstyle + pmd)
  entry: task java:lint:check
  language: system
  pass_filenames: false
  require_serial: true
  stages:
  - commit

csharp-format-check:
  name: Check C# formatting (dotnet format)
  entry: task csharp:format:check
  language: system
  pass_filenames: false
  require_serial: true
  stages:
  - commit

csharp-lint-check:
  name: Check C# linting (dotnet format verify)
  entry: task csharp:lint:check
  language: system
  pass_filenames: false
  require_serial: true
  stages:
  - commit

php-format-check:
  name: Check PHP formatting (php-cs-fixer)
  entry: task php:format:check
  language: system
  pass_filenames: false
  require_serial: true
  stages:
  - commit

fix(test): resolve timing issue in cache_api_test on Windows
  packages/elixir/test/unit/cache_api_test.exs
Due: none

fix(ci): add partial cache detection to PHP publish workflow
  .github/workflows/publish.yaml
Due: github-actions-lint

fix(ruby): update reqwest feature from rustls-tls to rustls
  scripts/ci/ruby/vendor-kreuzberg-core.sh
Due: shell-lint-check

docs: expand EmbeddingConfig and add ServerConfig documentation
  docs/reference/configuration.md
Due: none

refactor(php): remove test wrapper workaround
  packages/php/composer.json
  packages/php/run-tests.sh
Due: shell-lint-check

docs: update CHANGELOG for v4.0.0 configuration system fixes
  CHANGELOG.md
Due: none

fix(go): remove empty data validation to allow empty strings
  packages/go/v4/binding.go
  packages/go/v4/error_handling_test.go
  packages/go/v4/errors_test.go
  packages/go/v4/extraction_test.go
  packages/go/v4/memory_safety_test.go
  packages/go/v4/metadata_test.go
Due: go-format-check, go-lint-check

fix(ci-python): add aggressive disk cleanup for ML dependencies
  .github/workflows/ci-python.yaml
  scripts/ci/python/free-disk-space.sh
Due: shell-lint-check, github-actions-lint

fix(ci-ruby): resolve aws-lc-sys Windows build failure
  .github/workflows/ci-ruby.yaml
  crates/kreuzberg/src/core/config.rs
  crates/kreuzberg/src/core/server_config.rs
  scripts/test/test-docker-config-local.sh
Due: rust-format-check, rust-lint-check, shell-lint-check, github-actions-lint

fix(windows-ci): prevent aws-lc-sys compilation on Windows builds
  Cargo.lock
  crates/kreuzberg-tesseract/Cargo.toml
  crates/kreuzberg/Cargo.toml
  uv.lock
Due: toml-format, rust-format-check, rust-lint-check, rust-licenses

fix(docker): properly handle entrypoint command arguments in test script
  scripts/test/test-docker-config-local.sh
Due: shell-lint-check

fix(ci): resolve multiple CI workflow failures
  .github/dependabot.yaml
  .github/workflows/publish.yaml
  Cargo.lock
  crates/kreuzberg-wasm/Cargo.toml
  deny.toml
  scripts/publish/node/build-native-module.sh
  scripts/publish/node/package-artifacts.sh
Due: toml-format, rust-format-check, rust-lint-check, rust-licenses, shell-lint-check, github-actions-lint

fix(docs): use pnpm version from package.json instead of hardcoded version
  .github/workflows/docs.yaml
Due: github-actions-lint

fix(deps): update dependency configurations for compatibility
  Cargo.lock
  Cargo.toml
  crates/kreuzberg/Cargo.toml
  packages/ruby/spec/binding/batch_spec.rb
Due: toml-format, rust-format-check, rust-lint-check, rust-licenses, ruby-format-check

fix(windows): resolve MSVC build issues and PDFium download on Windows
  .task/config/vars.yml
  .task/languages/rust.yml
  crates/kreuzberg/build.rs
Due: rust-format-check, rust-lint-check

fix(ruby-ci): switch Windows build from GNU to MSVC target
  .cargo/config.toml
  .github/workflows/ci-ruby.yaml
  scripts/ci/ruby/build-gem.sh
  scripts/ci/ruby/configure-bindgen-windows.ps1
  scripts/ci/ruby/install-ruby-deps.ps1
Due: toml-format, shell-lint-check, github-actions-lint

fix(ruby): add getrandom to vendored workspace dependencies
  scripts/ci/ruby/vendor-kreuzberg-core.sh
Due: shell-lint-check

fix(ci): add cmake to Linux system dependencies for aarch64 builds
  scripts/ci/install-system-deps/install-linux.sh
Due: shell-lint-check

fix(publish): add aarch64 support to Elixir publishing
  .github/workflows/publish.yaml
Due: github-actions-lint

fix(ci): resolve all CI failures (Ruby artifacts, CMAKE, Go bindings, PHP tests, C# metadata)
  .github/actions/install-system-deps/action.yml
  Cargo.lock
  Cargo.toml
  crates/kreuzberg-php/src/types.rs
  crates/kreuzberg-tesseract/Cargo.toml
  crates/kreuzberg/Cargo.toml
  docs/benchmarks/index.md
  docs/benchmarks/latest.md
  packages/csharp/Kreuzberg/Models.cs
  packages/elixir/mix.lock
  packages/go/v4/binding.go
  packages/ruby/Gemfile.lock
  pnpm-lock.yaml
  scripts/ci/install-system-deps/install-windows.ps1
  tools/benchmark-visualizer/src/components/charts/ColdStartChart.tsx
  tools/benchmark-visualizer/src/components/charts/DiskSizeChart.tsx
  tools/benchmark-visualizer/src/components/charts/DurationChart.tsx
  tools/benchmark-visualizer/src/components/charts/MemoryChart.tsx
  tools/benchmark-visualizer/src/components/charts/ThroughputChart.tsx
  tools/benchmark-visualizer/src/pages/DetailedComparisonsPage.tsx
  tools/benchmark-visualizer/src/pages/PerformanceChartsPage.tsx
  tools/benchmark-visualizer/src/utils/frameworkCapabilities.ts
  uv.lock
Due: toml-format, rust-format-check, rust-lint-check, rust-licenses, go-format-check, go-lint-check, csharp-format-check, csharp-lint-check

refactor(benchmarks): simplify mode terminology to single/batch
  .github/workflows/benchmarks.yaml
  .github/workflows/profiling.yaml
  docs/benchmarks/index.md
  docs/benchmarks/latest.md
  docs/benchmarks/methodology.md
  tools/benchmark-harness/scripts/PHP_BENCHMARKS.md
  tools/benchmark-harness/scripts/run-php-benchmark-example.sh
  tools/benchmark-harness/src/adapters/external.rs
  tools/benchmark-harness/src/adapters/kreuzberg.rs
  tools/benchmark-harness/src/adapters/mod.rs
  tools/benchmark-harness/src/aggregate.rs
  tools/benchmark-harness/src/main.rs
  tools/benchmark-harness/src/monitoring.rs
  tools/benchmark-visualizer/src/App.tsx
  tools/benchmark-visualizer/src/pages/DetailedComparisonsPage.tsx
  tools/benchmark-visualizer/src/schemas/benchmarkSchema.ts
  tools/benchmark-visualizer/src/types/benchmark.ts
Due: rust-format-check, rust-lint-check, shell-lint-check, github-actions-lint

fix(fixtures): correct metadata path for image format field
  fixtures/smoke/image_png.json
Due: none

test(benchmark-visualizer): add comprehensive test coverage and CI workflow
  .github/workflows/ci-benchmark-visualizer.yaml
  biome.json
  scripts/ci/install-system-deps/install-windows.ps1
  tools/benchmark-visualizer/src/components/charts/ColdStartChart.test.tsx
  tools/benchmark-visualizer/src/components/charts/DurationChart.test.tsx
  tools/benchmark-visualizer/src/components/charts/MemoryChart.test.tsx
  tools/benchmark-visualizer/src/components/charts/ThroughputChart.test.tsx
  tools/benchmark-visualizer/src/context/BenchmarkContext.test.tsx
  tools/benchmark-visualizer/src/context/ThemeContext.test.tsx
  tools/benchmark-visualizer/src/pages/DetailedComparisonsPage.test.tsx
  tools/benchmark-visualizer/src/pages/LandingPage.test.tsx
  tools/benchmark-visualizer/src/pages/MethodologyPage.test.tsx
  tools/benchmark-visualizer/src/pages/PerformanceChartsPage.test.tsx
  tools/benchmark-visualizer/src/schemas/benchmarkSchema.test.ts
  tools/benchmark-visualizer/src/services/benchmarkService.test.ts
  tools/benchmark-visualizer/src/transformers/chartTransformers.test.ts
  tools/benchmark-visualizer/src/utils/frameworkCapabilities.test.ts
  tools/benchmark-visualizer/src/utils/insights.test.ts
Due: github-actions-lint

ci: add workflow_dispatch triggers to all CI workflows and ensure self-trigger paths
  .github/workflows/ci-cli.yaml
  .github/workflows/ci-csharp.yaml
  .github/workflows/ci-docker.yaml
  .github/workflows/ci-elixir.yaml
  .github/workflows/ci-go.yaml
  .github/workflows/ci-java.yaml
  .github/workflows/ci-node.yaml
  .github/workflows/ci-php.yaml
  .github/workflows/ci-python.yaml
  .github/workflows/ci-ruby.yaml
  .github/workflows/ci-rust.yaml
  .github/workflows/ci-validate.yaml
Due: github-actions-lint

fix(ci): remove wasm build dependency from typescript typecheck
  .task/tools/typescript.yml
Due: none

fix(docs): correct attr_list syntax for hidden Benchmarks heading
  docs/benchmarks/index.md
Due: none

build(benchmarks): rebuild visualizer with chart sorting and WASM support
  .pre-commit-config.yaml
  docs/benchmarks/app/aggregated.json
  docs/benchmarks/app/assets/index-ChhiHnR2.css
  docs/benchmarks/app/assets/index-DrAA6Fba.js
  docs/benchmarks/app/index.html
Due: none

fix(ci): use SkippableFact for C# E2E tests to properly skip on Windows
  .task/languages/csharp.yml
  e2e/csharp/EmailTests.cs
  e2e/csharp/HtmlTests.cs
  e2e/csharp/ImageTests.cs
  e2e/csharp/OcrTests.cs
  e2e/csharp/OfficeTests.cs
  e2e/csharp/PdfTests.cs
  e2e/csharp/SmokeTests.cs
  e2e/csharp/StructuredTests.cs
  e2e/csharp/XmlTests.cs
  tools/e2e-generator/src/csharp.rs
Due: rust-format-check, rust-lint-check

fix: improve version sync script for comprehensive coverage
  packages/php/tests/Integration/ChunkingAndEmbeddingsTest.php
  packages/php/tests/Integration/ErrorHandlingTest.php
  packages/php/tests/Unit/BatchProcessingTest.php
  packages/php/tests/Unit/ErrorHandlingTest.php
  scripts/sync_versions.py
Due: python-lint-check, python-format, php-format-check, php-lint-check

fix(ci): resolve Python, TypeScript, Ruby, and PHP CI failures
  .github/workflows/ci-php.yaml
  .github/workflows/ci-ruby.yaml
  crates/kreuzberg-node/tests/binding/configuration.spec.ts
  crates/kreuzberg-node/tests/binding/edge-cases.spec.ts
  examples/tsconfig.base.json
  packages/python/tests/binding/test_extraction_bridge.py
Due: python-lint-check, python-format, node-format-check, node-lint-check, github-actions-lint

chore: updated lock files
  Cargo.lock
  crates/kreuzberg/Cargo.toml
  uv.lock
Due: toml-format, rust-format-check, rust-lint-check, rust-licenses

fix(ci): correct cargo-llvm-cov invocation syntax
  scripts/ci/actions/setup-rust/install-cargo-llvm-cov.sh
Due: shell-lint-check

fix(go): correct module tag format and CI stability improvements
  .github/actions/setup-rust/action.yml
  .github/workflows/ci-go.yaml
  scripts/ci/actions/setup-rust/install-cargo-llvm-cov.sh
  scripts/publish/go/tag-and-push-go-module.sh
Due: shell-lint-check, github-actions-lint

docs(css): add !important flags for back-to-top button and header link styles
  CHANGELOG.md
  docs/css/extra.css
  package.json
  uv.lock
Due: none

fix: resolve GitHub issues #282, #284, #285 for v4.0.3
  CHANGELOG.md
  docs/migration/v3-to-v4.md
  docs/snippets/rust/advanced/advanced_config.md
  docs/snippets/rust/advanced/chunking.md
  docs/snippets/rust/advanced/embedding_config.md
  docs/snippets/rust/advanced/token_reduction.md
  docs/snippets/rust/config/config_programmatic.md
  docs/snippets/rust/getting-started/extract_with_ocr.md
  docs/snippets/rust/metadata/image_preprocessing.md
  docs/snippets/rust/ocr/config_ocr.md
  docs/snippets/rust/ocr/ocr_easyocr.md
  docs/snippets/rust/ocr/ocr_extraction.md
  docs/snippets/rust/ocr/ocr_multi_language.md
  docs/snippets/rust/ocr/ocr_paddleocr.md
  docs/snippets/rust/ocr/tesseract_config.md
  packages/csharp/Kreuzberg/Models.cs
  packages/csharp/Kreuzberg/Serialization.cs
Due: csharp-format-check, csharp-lint-check

fix(elixir): include actual NIF checksums in Hex package
  .pre-commit-config.yaml
  CHANGELOG.md
  Taskfile.yml
  packages/elixir/checksum-Elixir.exs
Due: none

fix: eliminate flaky test in resource monitor sampling
  tools/benchmark-harness/src/monitoring.rs
Due: rust-format-check, rust-lint-check

feat(go): simplify installation with auto-generated CGO flags
  packages/go/v4/README.md
  packages/go/v4/cgo_flags.go
  packages/go/v4/cmd/install/main.go
  packages/go/v4/doc.go
  packages/go/v4/ffi.go
  packages/go/v4/generate.go
Due: go-format-check, go-lint-check

Path conditions:
  toml-format: any of: \.toml$, but not: ^docs/snippets/|vendor/|node_modules/|target/|v3/|invalid*
  python-lint-check: any of: \.py$, but not: ^docs/snippets/|vendor/|node_modules/|target/|v3/|invalid*
  python-format: any of: \.py$, but not: ^docs/snippets/|vendor/|node_modules/|target/|v3/|invalid*
  rust-format-check: any of: ^(crates|tools|e2e/rust)/.*\.rs$|^(Cargo\.toml|Cargo\.lock|crates/.*/Cargo\.toml|tools/.*/Cargo\.toml|e2e/rust/Cargo\.toml|packages/ruby/ext/kreuzberg_rb/native/Cargo\.toml)$, but not: ^docs/snippets/|vendor/|node_modules/|target/|v3/|invalid*
  rust-lint-check: any of: ^(crates|tools|e2e/rust)/.*\.rs$|^(Cargo\.toml|Cargo\.lock|crates/.*/Cargo\.toml|tools/.*/Cargo\.toml|e2e/rust/Cargo\.toml|packages/ruby/ext/kreuzberg_rb/native/Cargo\.toml)$, but not: ^docs/snippets/|vendor/|node_modules/|target/|v3/|invalid*
  rust-licenses: any of: ^(Cargo\.toml|Cargo\.lock|crates/.*/Cargo\.toml|tools/.*/Cargo\.toml|e2e/rust/Cargo\.toml|packages/ruby/ext/kreuzberg_rb/native/Cargo\.toml|deny\.toml)$, but not: ^docs/snippets/|vendor/|node_modules/|target/|v3/|invalid*
  node-format-check: any of: ^crates/kreuzberg-node/, but not: ^docs/snippets/|vendor/|node_modules/|target/|v3/|invalid*
  node-lint-check: any of: ^crates/kreuzberg-node/, but not: ^docs/snippets/|vendor/|node_modules/|target/|v3/|invalid*
  ruby-format-check: any of: ^packages/ruby/.*\.rb$, but not: ^docs/snippets/|vendor/|node_modules/|target/|v3/|invalid*
  ruby-lint-check: any of: ^packages/ruby/(lib|sig)/.*\.(rb|rbs)$, but not: ^docs/snippets/|vendor/|node_modules/|target/|v3/|invalid*
  go-format-check: any of: ^packages/go/v4/.*\.go$, but not: ^docs/snippets/|vendor/|node_modules/|target/|v3/|invalid*
  go-lint-check: any of: ^packages/go/v4/, but not: ^docs/snippets/|vendor/|node_modules/|target/|v3/|invalid*
  java-format-check: any of: ^packages/java/src/.*\.java$, but not: ^docs/snippets/|vendor/|node_modules/|target/|v3/|invalid*
  java-lint-check: any of: ^packages/java/src/.*\.java$, but not: ^docs/snippets/|vendor/|node_modules/|target/|v3/|invalid*
  csharp-format-check: any of: ^packages/csharp/, but not: ^docs/snippets/|vendor/|node_modules/|target/|v3/|invalid*
  csharp-lint-check: any of: ^packages/csharp/, but not: ^docs/snippets/|vendor/|node_modules/|target/|v3/|invalid*
  php-format-check: any of: ^packages/php/.*\.php$, but not: ^docs/snippets/|vendor/|node_modules/|target/|v3/|invalid*
  php-lint-check: any of: ^packages/php/.*\.php$, but not: ^docs/snippets/|vendor/|node_modules/|target/|v3/|invalid*
  shell-lint-check: any of: \.sh$, but not: ^docs/snippets/|vendor/|node_modules/|target/|v3/|invalid*
  github-actions-lint: any of: ^\.github/workflows/.*\.ya?ml$, but not: ^docs/snippets/|vendor/|node_modules/|target/|v3/|invalid*
